body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.imagem-header {
    height: 200px;
    object-fit: cover;
}

h5 {
    font-size: clamp(1.3rem, 2vw, 2.6rem);
}

.card img {
    height: 200px;
    object-fit: contain;
}

.test {
    display: flex;
    align-items: center;
}

.product-details {
    flex-grow: 1;
}

.quantity {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.quantity-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#quantity-input {
    width: 7em;
}