/* @media (min-width: 761px) and (min-height: 828px) {
    .form-container {
        width: 761px;
        height: 828px;
        border: 2px solid #007bff;  Apenas para visualização 
    }
} */
body,
html {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    padding: 2.8rem;
}

h2 {
    margin-top: 1.87rem;
}

.flecha {
    margin-left: 10px;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
    /* Adiciona o sublinhado ao passar o mouse */
}

footer {
    margin-top: auto;
    background-color: #FF1741;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #212529;
}

.form-container {
    max-width: 500px;
    margin: auto;
    padding-top: 50px;
}