@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* @media (min-width: 811px); */

* {
    text-decoration: none;
}

main {
    padding: 7.75rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;


}

img {
    margin-bottom: 15px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-bottom: 2em;
}

input {
    height: 40px
}

.button-entrar {
    margin: 2em 0;
    height: 3.8rem;
    width: 29.6rem;

}

a {
    color: #FF1741;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    /* Adiciona o sublinhado ao passar o mouse */
}

footer {
    height: 8rem;
    margin-top: auto;
    background-color: #FF1741;
    text-align: center;
    padding: 20px;

}

footer a {
    color: #212529;
}

@media (min-width: 811px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}