body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

form>button {
    gap: 5em;
}

.carousel-item img {
    width: 100%;
    height: 300px;
    /* Adjust the height as needed */
    object-fit: cover;
    /* Ensure the image covers the area without stretching */
}

.carousel-container {
    width: 100%;
    max-width: 83rem;
    margin: auto;
    padding: 0 1rem;
    /* Optional: Adds some padding to the sides */
}

@media (max-width: 1200px) {
    .carousel-container {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .carousel-container {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .carousel-container {
        width: 100%;
    }
}

main {
    flex: 1 0 auto;
}

footer {
    margin-top: auto;
    background-color: #e9c9ce;
    text-align: center;
    padding: 0.65rem;


}

footer a {
    color: #212529;
}

.centraDiv {
    font-size: 0.7em;
    font-weight: 800;
    margin-top: 1.5rem;
}


.imagem-header {
    height: 200px;
    object-fit: cover;
}

h5 {
    font-size: clamp(1.3rem, 2vw, 2.6rem);
}

.card img {
    height: 200px;
    object-fit: contain;
}

.test {
    display: flex;
    align-items: center;
}

.card {

    border: 2px black solid;
}

.product-details {
    flex-grow: 1;
}

.quantity {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.quantity-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 25%;
    font-size: 20px;
    font-weight: bolder;
}

#quantity-input {
    width: 7em;
    text-align: center;
    font-weight: bolder;
    border-radius: 2em;
    border: solid;
}